<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  <mapper namespace="stgl.mapper.AssHonorMapper">
  
  <select id="findAllHonor" resultType="Stgl_Ass_Honor">
  		select * from STGL_ASS_HONOR where H_ASS_id=#{ass_id}
 	</select>
 	
 	<select id="findAssId" resultType="string">
  		select STU_Assocition_id from STGL_STU where STU_Username=#{stu_username}
 	</select>
 	
  	<select id="assHonor" resultType="Stgl_Ass_Honor">
  		select * from STGL_ASS_HONOR where H_ASS_id=#{ass_id} LIMIT #{pageNum},#{pageSize}
 	</select>
  </mapper>